<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>
    <IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On

  # Votre politique de cache par défaut
  ExpiresDefault "access plus 1 month"

  # Types de fichiers spécifiques
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType application/font-woff2 "access plus 1 year"

  # Désactivez le cache pour les fichiers HTML (si vous voulez que chaque page soit toujours récupérée)
  ExpiresByType text/html "access plus 0 seconds"
</IfModule>